<%= form_with(model: genre, local: true) do |form| %>
  <% if genre.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
