<%= form_with(model: author, local: true) do |form| %>
 

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :birth_year %>
    <%= form.number_field :birth_year, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :country %>
    <%= form.text_field :country, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
