<h1>Картини</h1>

<%= link_to "Додати нову картину", new_painting_path, class: "btn btn-success mb-3" %>

<%= form_with url: paintings_path, method: :get, local: true, class: "mb-3 row g-2" do |form| %>
  <div class="col">
    <%= form.label :search, "Пошук по назві", class: "form-label" %>
    <%= form.text_field :search, class: "form-control", value: params[:search] %>
  </div>
  <div class="col align-self-end">
    <%= form.submit "Пошук", class: "btn btn-outline-primary" %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <%= link_to paintings_path(sort: "title", order: params[:order] == "asc" ? "desc" : "asc") do %>
          Назва <%= sort_arrow('title') %>
        <% end %>
      </th>
      <th>
        <%= link_to paintings_path(sort: "year", order: params[:order] == "asc" ? "desc" : "asc") do %>
          Рік <%= sort_arrow('year') %>
        <% end %>
      </th>
      <th>
        <%= link_to paintings_path(sort: "price", order: params[:order] == "asc" ? "desc" : "asc") do %>
          Ціна <%= sort_arrow('price') %>
        <% end %>
      </th>
      <th>Автор</th>
      <th>Жанр</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    <% @paintings.each do |painting| %>
      <tr>
        <td><%= painting.title %></td>
        <td><%= painting.year %></td>
        <td><%= painting.price %></td>
        <td><%= painting.author&.name %></td>
        <td><%= painting.genre&.name %></td>
        <td>
          <%= link_to 'Показати', painting_path(painting), class: "btn btn-primary btn-sm" %>
          <%= link_to 'Редагувати', edit_painting_path(painting), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Видалити', painting_path(painting), method: :delete, data: { confirm: 'Ви впевнені?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "На головну", root_path, class: "btn btn-secondary mb-3" %>
